@import "../node_modules/ui-styles/variables";
@import "../node_modules/ui-styles/visual-elements";
@import "../node_modules/ui-styles/typography";
@import "../node_modules/ui-fonts/node_modules/ui-font-awesome/icons";
@import "../node_modules/ui-fonts/node_modules/ui-font-awesome/font-awesome-icons";

// Need flipped/rotated declarations; thus need prefix and mixins.
@fa-css-prefix: fa;
@import "../node_modules/ui-fonts/node_modules/ui-font-awesome/node_modules/font-awesome/less/mixins";
@import "../node_modules/ui-fonts/node_modules/ui-font-awesome/node_modules/font-awesome/less/rotated-flipped";

@innerPadding: 0.166em;
@boxySideMargin: 0.1em;

:host {
  display: inline;
}

.icon-container {
  display: inline-block;
  vertical-align: middle;
}

.caution-flag {
  color: orange;
}

.full-consent-flag {
  color: green;

  .front {
    color: white;
  }
}

.stack {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 1em;
  height: 1.1em;
  line-height: 1em;

  icon {
    position: absolute;
    width: 100%;
    left: 0;

    &.front {
      text-align: center;
      font-size: 75%;
      line-height: 1.4;
    }
  }
}

.label {
  display: inline-block;
  margin: 0 @boxySideMargin;
  padding: @innerPadding;
  font-size: 75%;
  line-height: 1em;
  font-weight: bold;
  border-radius: 0.2em;
  text-align: center;
  min-width: 1em;
  word-wrap: suppress;
  white-space: nowrap;
}

.num-container {
  display: inline-block;
  margin: 0 @boxySideMargin;
  padding: @innerPadding;
  font-size: 75%;
  line-height: 1em;
  text-align: center;
  background-color: #b94a48;
  color: white;
  font-weight: bold;
  border-radius: 0.25em;

  .number {
    display: inline-block;
    margin-left: 0.2em;
    padding: 0.125em 0.25em;
    background-color: white;
    border-radius: 0 0.25em 0.25em 0;
    color: #000;
  }
}

.leader {
  width: 6em;
}

.premium {
  vertical-align: middle;
  color: green;

  .plus {
    font-weight: bold;
    vertical-align: top;
  }
}

.educator, .high-potential {
  background-color: #f89406;
  color: #fff;
}

.exclusive {
  width: 4.8em;
  background-color: #00bdbd;
  color: #fff;
}

.practice-area-exclusive {
  color: orange;

  icon[play] {
    color: #fff;
  }
}

.acc, .europe, .asia, .international-other, .key-executive, .lera {
  background-color: royalblue;
  color: #fff;
}

.data-bug {}

.on-hold {
  color: red;

  .front {
    color: #fff;
  }
}

.first-access {
  background-color: #000;
  color: #fff;
}

.new-flag {
  background-color: green;
  color: #fff;
}

.glg-dnc {
  background-color: red;
  color: #fff;
}

.council-partner {
  background-color: royalblue;
  color: #fff;
}

.member-programs {
  background-color: orange;
  color: #fff;
}
