<polymer-element name="glg-cm-badger" attributes="cmId">
  <template>
    <link rel="stylesheet" type="text/css" href="./glg-cm-badger.less">
    <span id="flag-container">
      <template repeat="{{flag in flags}}">
        <template ref="{{flag.templateName}}" bind="{{flag}}"></template>
      </template>
    </span>
    <core-ajax
      auto
      url="https://services.glgresearch.com/epiquery/councilMember/profile/getFlags.mustache"
      params='{"councilMemberId":{{cmId}}}'
      handleAs="json"
      withCredentials="true"
      on-core-response="{{handleResponse}}"></core-ajax>

    <!-- FLAGS -->
    <template id="caution-flag">
      <span class="icon-container caution-flag" title="{{tooltip}}">
        <icon warning></icon>
      </span>
    </template>

    <template id="full-consent-flag">
      <span class="icon-container full-consent-flag" title="{{tooltip}}">
        <span class="stack">
          <icon square></icon>
          <icon arrow-right class="front"></icon>
        </span>
      </span>
    </template>

    <template id="glg-scholar-top-20-flag">
      <span class="num-container scholar" title="{{tooltip}}">
        Scholar
        <span class="number">20%</span>
      </span>
    </template>

    <template id="glg-leader-top-5-councils-exclusive-flag">
      <span class="num-container top-5" title="{{tooltip}}">
        Leader
        <span class="number">5%</span>
      </span>
    </template>

    <template id="premium-flag">
      <span class="icon-container premium" title="{{tooltip}}">
        <icon money></icon><span class="plus">+</span>
      </span>
    </template>

    <template id="glg-educator-flag">
      <span class="label educator" title="{{tooltip}}">
        Educator
      </span>
    </template>

    <template id="practice-area-exclusive-flag">
      <span class="icon-container practice-area-exclusive" title="{{tooltip}}">
        <span class="stack">
          <icon square></icon>
          <icon play class="front fa-rotate-270"></icon>
        </span>
      </span>
    </template>

    <template id="on-call-flag">
      <span class="on-call" title="{{tooltip}}">
        <span class="icon-container">
          <icon clock-o></icon>
        </span>
      </span>
    </template>

    <template id="acc-flag">
      <span class="label acc" title="{{tooltip}}">
        AC
      </span>
    </template>

    <template id="data-bug-flag">
      <span class="icon-container data-bug" title="{{tooltip}}">
        <icon bug></icon>
      </span>
    </template>

    <template id="on-hold-flag">
      <span class="icon-container on-hold" title="{{tooltip}}">
        <span class="stack">
          <icon square></icon>
          <icon circle-o class="front"></icon>
        </span>
      </span>
    </template>

    <template id="exclusive-flag">
      <span class="label exclusive" title="{{tooltip}}">
        Exclusive
      </span>
    </template>

    <template id="first-access-flag">
      <span class="label first-access" title="{{tooltip}}">
        First Access
      </span>
    </template>

    <template id="europe-flag">
      <span class="label europe" title="{{tooltip}}">
        Eu
      </span>
    </template>

    <template id="asia-flag">
      <span class="label asia" title="{{tooltip}}">
        As
      </span>
    </template>

    <template id="international-other-flag">
      <span class="label international-other" title="{{tooltip}}">
        I
      </span>
    </template>

    <template id="lera-flag">
      <span class="label lera" title="{{tooltip}}">
        LR
      </span>
    </template>

    <template id="key-executive-flag">
      <span class="label key-executive" title="{{tooltip}}">
        Key Executive
      </span>
    </template>

    <template id="high-potential-flag">
      <span class="label high-potential" title="{{tooltip}}">
        High Potential
      </span>
    </template>

    <template id="new-flag">
      <span class="label new-flag" title="{{tooltip}}">
        New!
      </span>
    </template>

    <template id="glg-do-not-contact-flag">
      <span class="label glg-dnc" title="{{tooltip}}">
        G
      </span>
    </template>

    <template id="do-not-contact-flag">
      <span class="label glg-dnc" title="{{tooltip}}">
        &nbsp;
      </span>
    </template>

    <template id="standard-flag">
      <template if="{{FLAG_TYPE_NAME == 'Council Partner'}}">
        <span class="icon-container label council-partner" title="{{tooltip}}">
          <icon star></icon>
          <span class="text">CP</span>
        </span>
      </template>

      <template if="{{FLAG_TYPE_NAME == 'Member Programs'}}">
        <span class="label member-programs" title="{{tooltip}}">
          MP
        </span>
      </template>
    </template>

  </template>
  <script src="./glg-cm-badger.litcoffee"></script>
</polymer-element>
